<p>
	<span>Allergies</span>
	<% for allergy in Allergy.find(:all) %>
	  <div>
		<%= check_box_tag "ingredient[allergy_ids][]", allergy.id, @ingredient.allergies.include?(allergy) %>
	    <%= allergy.name %>
	  </div>
	<% end %>
</p>