#navMenu {
    display: block;
    text-align: center;
	width: 100%;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
}

#navMenu li {
	display: inline-block;
}

#navMenu li a { 
    padding: 5px 15px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    color: #1d1d1d;
    text-decoration: none;
    font: bold 1em Georgia, "Times New Roman", Times, serif;
}

#navMenu a:hover {
    color: #c00;
    background-color: #CCFFCC;
}